<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Zeidon REST server</display-name>

	<servlet>
		<servlet-name>ZeidonREST</servlet-name>
		<display-name>Zeidon REST</display-name>
		<servlet-class>
			org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet
		</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>
				com.quinsoft.zeidon.webserver.ZeidonJaxRsApp
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>ZeidonREST</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>